@import url("https://fonts.googleapis.com/css2?family=Merriweather");

@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* Hide the default cursor on all elements, including interactive ones */
*,
button,
a,
input,
select,
textarea {
    cursor: none;
}

/* Custom cursor styling */
body::after {
    content: "";
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightblue;
    pointer-events: none; /* Allows clicks to pass through */
    transform: translate(-50%, -50%);
    z-index: 9999;
    left: var(--cursorX);
    top: var(--cursorY);
}

/* Home Page Animated Text */
.animated-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    line-height: 1.6;
    animation: typing-loop 12s steps(88) infinite;
    position: relative;
    padding-right: 20px; /* Space to accommodate the circle */
}

/* Blinking light blue circle cursor */
.animated-text::after {
    content: "";
    position: absolute;
    right: 0px; /* Position circle next to the text */
    top: 20%;
    transform: translateY(-50%); /* Center vertically with the text */
    width: 10px; /* Circle size */
    height: 10px; /* Circle size */
    background-color: rgba(
        101,
        216,
        255,
        0.9
    ); /* Light blue color with slight transparency */
    border-radius: 50%; /* Make it circular */
    animation: blink 0.75s step-end infinite;
}

/* Keyframes for typing and erasing effect */
@keyframes typing-loop {
    0% {
        width: 0;
    }
    45% {
        width: 100%;
    }
    55% {
        width: 100%; /* Pause at full width for a moment */
    }
    100% {
        width: 0;
    }
}

/* Keyframes for blinking effect */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Contact Us Page */
.card-custom {
    max-width: 70%; /* Set the max-width to 60% */
    margin: 0 auto; /* Center the card horizontally */
}

/* Ensure carousel controls are visible and well-positioned */
.carousel-control-prev,
.carousel-control-next {
    position: absolute; /* Position them absolutely to the sides */
    top: 50%; /* Center the controls vertically */
    transform: translateY(-50%); /* Offset for proper vertical centering */
    z-index: 10; /* Ensure controls are above carousel content */
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 300px;
    right: 10px; /* Position the 'Next' button on the right */
}

/* Make carousel control icons black */
/* Make the carousel control buttons black */

.carousel-control-prev,
.carousel-control-next {
    border-color: blue; /* Optional: changes the border to match the icons */
}

/* Change the carousel control icons (previous and next) to primary blue using CSS filters */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(31%) sepia(73%) saturate(513%) hue-rotate(177deg)
        brightness(96%) contrast(97%);
}

.navbar-nav .nav-link.active {
    color: #fff; /* Active link color */
}

.counter-section i {
    display: block;
    margin: 0 0 10px;
}
.counter-section span.counter {
    font-size: 40px;
    color: #000;
    line-height: 60px;
    display: block;
    /* font-family: "Oswald", sans-serif; */
    letter-spacing: 2px;
}
.counter-title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.counter-icon {
    top: 25px;
    position: relative;
}
.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left;
}
.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px;
}
.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0;
}
.counter-subheadline span {
    float: right;
}

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
}

.counter-wrapper {
    display: flex;
    justify-content: space-between; /* Ensure the counters are spaced out */
    gap: 50px; /* Adjust the gap between counters as needed */
    flex-wrap: wrap; /* Allow wrapping if the screen is narrow */
}

.plus-sign {
    font-size: inherit;
}

.counter p {
    margin-top: 5px; /* Adjusts spacing between the count and description text */
}

.counter-wrapper::before {
    content: "";
    content: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.counter {
    text-align: center;
    color: #000;
    flex: 1 1 45%; /* Allow counters to take up equal space, adjust based on your preference */
    min-width: 200px; /* Ensure counters don't become too small */
}

.counter::before {
    position: absolute;
    content: "";
    bottom: -2rem;
    left: 50%;
    width: 20%;
    height: 0.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.counter-wrapper .counter {
    margin-bottom: 20px; /* Space between counters vertically */
}
.counter .count {
    font-size: 5rem;
    margin-bottom: 1rem;
}
.counter p {
    font-size: 1.4rem;
    /* font-family: "Poppins", sans-serif; */
    font-weight: 700;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 768px) {
    .counter-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 8rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .counter-wrapper {
        grid-template-columns: 1fr;
    }
}

/* Alpha Progress Bar Percentage */
@keyframes alphaNextjsAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes alphaTailwinAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alphaReactAnimation {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@keyframes alphaBootstrapAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alphaFlutterAnimation {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@keyframes alphaHtmlAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes alphaCSSAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alphaLaravelAnimation {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes alphaDjangoAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alphaFastapiAnimation {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@keyframes alphaPythonAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alphaMySQLAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes alphaJavaAnimation {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes alphaJavascriptAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alphaPhpAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

/* Alpha Progress Bar  */
.alpha-nextjs-animation {
    animation: alphaNextjsAnimation 4s ease-out forwards;
}

.alpha-tailwind-animation {
    animation: alphaTailwinAnimation 4s ease-out forwards;
}

.alpha-react-animation {
    animation: alphaReactAnimation 4s ease-out forwards;
}

.alpha-bootstrap-animation {
    animation: alphaBootstrapAnimation 4s ease-out forwards;
}

.alpha-flutter-animation {
    animation: alphaFlutterAnimation 4s ease-out forwards;
}

.alpha-html-animation {
    animation: alphaHtmlAnimation 4s ease-out forwards;
}

.alpha-css-animation {
    animation: alphaCSSAnimation 4s ease-out forwards;
}

.alpha-laravel-animation {
    animation: alphaLaravelAnimation 4s ease-out forwards;
}

.alpha-django-animation {
    animation: alphaDjangoAnimation 4s ease-out forwards;
}

.alpha-fastapi-animation {
    animation: alphaFastapiAnimation 4s ease-out forwards;
}

.alpha-python-animation {
    animation: alphaPythonAnimation 4s ease-out forwards;
}

.alpha-mysql-animation {
    animation: alphaMySQLAnimation 4s ease-out forwards;
}

.alpha-java-animation {
    animation: alphaJavaAnimation 4s ease-out forwards;
}

.alpha-javascript-animation {
    animation: alphaJavascriptAnimation 4s ease-out forwards;
}

.alpha-php-animation {
    animation: alphaPhpAnimation 4s ease-out forwards;
}

/* Alan Progress Bar Percentage */
@keyframes alanReactAnimation {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@keyframes alanTailwinAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alanBootstrapAnimation {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@keyframes alanFlutterAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes alanHtmlAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes alanCSSAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alanLaravelAnimation {
    from {
        width: 0%;
    }
    to {
        width: 30%;
    }
}

@keyframes alanMySQLAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes alanPythonAnimation {
    from {
        width: 0%;
    }
    to {
        width: 20%;
    }
}

@keyframes alanJavaAnimation {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes alanJavascriptAnimation {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes alanPhpAnimation {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

/* alan Progress Bar  */
.alan-tailwind-animation {
    animation: alanTailwinAnimation 4s ease-out forwards;
}

.alan-react-animation {
    animation: alanReactAnimation 4s ease-out forwards;
}

.alan-bootstrap-animation {
    animation: alanBootstrapAnimation 4s ease-out forwards;
}

.alan-flutter-animation {
    animation: alanFlutterAnimation 4s ease-out forwards;
}

.alan-html-animation {
    animation: alanHtmlAnimation 4s ease-out forwards;
}

.alan-css-animation {
    animation: alanCSSAnimation 4s ease-out forwards;
}

.alan-laravel-animation {
    animation: alanLaravelAnimation 4s ease-out forwards;
}

.alan-python-animation {
    animation: alanPythonAnimation 4s ease-out forwards;
}

.alan-mysql-animation {
    animation: alanMySQLAnimation 4s ease-out forwards;
}

.alan-java-animation {
    animation: alanJavaAnimation 4s ease-out forwards;
}

.alan-javascript-animation {
    animation: alanJavascriptAnimation 4s ease-out forwards;
}

.alan-php-animation {
    animation: alanPhpAnimation 4s ease-out forwards;
}

/* Optional: Styling for progress value */
.progress-value {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.main-timeline {
    position: relative;
}

.main-timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    background: #007bff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.5px;
}

.timeline {
    position: relative;
    width: 50%;
    margin: 40px 0;
    opacity: 0; /* Start hidden */
    transform: translateY(50px); /* Start below final position */
    transition: all 1s ease; /* Smooth transition for animation */
}

.timeline.show {
    opacity: 1;
    transform: translateY(0);
}

.timeline::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    top: 50%;
    right: -10px;
    z-index: 1;
}

.timeline.right::after {
    left: -10px;
}

.timeline .card {
    position: relative;
    margin-right: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.timeline .card:hover {
    transform: translateY(-5px);
}

.timeline.right .card {
    margin-right: 0;
    margin-left: 40px;
}

.timeline-badge {
    width: 40px;
    height: 40px;
    background: #007bff;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.timeline.right .timeline-badge {
    left: 20px;
}

.timeline.right {
    left: 50%;
}

.timeline.left {
    left: 0;
}

@media (max-width: 767px) {
    .main-timeline::after {
        left: 40px;
    }

    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        left: 0 !important;
    }

    .timeline::after {
        left: 30px;
    }

    .timeline .card {
        margin-right: 0;
        margin-left: 0;
    }

    .timeline-badge {
        left: 20px !important;
        right: auto !important;
    }
}

#alpha-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Vertically center items */
}

#alpha-section .col-lg-7,
#alpha-section .col-lg-5 {
    flex: 1; /* Allow the columns to be flexible and share available space */
}

#alpha-section img {
    max-width: 100%;
    margin-bottom: 15px; /* Adjust as needed */
    margin-left: 0px;
}
